.content-fiction {
  width: 1200px;
  margin: auto;
}

.content-fiction .tit_chi {
  margin-top: 60px;
  font-family: "PingFang SC Regular";
  text-align: center;
  font-size: 23px;
  line-height: 24px;
  color: #333;
}

.content-fiction .tit_chi span {
  font-weight: 1000;
  font-size: 24px;
  font-family: "PingFang SC Regular";
  color: #333;
}

.content-fiction .tit_eng {
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  color: #969696;
  padding-top: 10px;
}

.content-fiction .naifen {
  width: 1200px;
  height: 48px;
  border: solid 1px #ebebeb;
  line-height: 48px;
  text-align: center;
  font-size: 14px;
  color: #333;
  background-color: #fafafa;
  border-radius: 10px;
  margin-top: 40px;
}

.content-fiction .fillter {
  margin-top: 20px;
  padding: 0px 20px;
  border: 1px solid #ebebeb;
  background-color: #fafafa;
  border-radius: 10px;
}

.content-fiction .fillter .chooseone {
  height: 123px;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #ebebeb;
  font-size: 12px;
}

.content-fiction .fillter .chooseone .choose_l {
  width: 80px;
  text-align: right;
  float: left;
  color: #969696;
  margin-right: 20px;
  margin-top: 29px;
}

.content-fiction .fillter .chooseone .choose_r {
  width: 1000px;
  float: left;
  height: 82px;
  overflow: hidden;
  position: relative;
  left: 0px;
  top: 0px;
}

.content-fiction .fillter .chooseone .choose_rs {
  display: block;
  float: left;
  width: 180px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border: 1px solid #ebebeb;
  margin: 0 18px 10px 0;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}

.content-fiction .fillter .choosetwo {
  font-size: 12px;
  width: 100%;
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid #ebebeb;
}

.content-fiction .fillter .choosetwo .choose_l {
  width: 80px;
  display: block;
  text-align: right;
  float: left;
  color: #969696;
}

.content-fiction .fillter .choosetwo .choosetow-e {
  display: inline-block;
  width: 68px;
  height: 70px;
  margin-left: 20px;
}

.content-fiction .fillter .choosethree {
  line-height: 50px;
  height: 50px;
}

.content-fiction .fillter .choosethree .choose_l {
  height: 50px;
  color: #969696;
  font-family: Arial, Verdana, "9)undefinedu";
  line-height: 50px;
  font-size: 12px;
  margin-left: 40px;
  float: left;
  width: 80px;
}

.content-fiction .fillter .choosethree .sxx {
  width: 100%;
}

.content-fiction .fillter .choosethree .sxx .sxxls {
  float: left;
  font-size: 12px;
  text-align: center;
}

.content-fiction .fillter .choosethree .sxx .sxxls .sxxls1 {
  float: left;
  width: 70px;
  height: 20px;
  line-height: 20px;
  padding: 2px 0 2px 5px;
  background: url(../images/zyzx_xl.png) 60px 7px no-repeat;
  border: 1px solid #EBEBEB;
  margin-top: 13px;
  margin-left: 15px;
}

.content-fiction .fillter .choosethree .sxx .skkl {
  position: relative;
  float: left;
  display: none;
}

.content-fiction .fillter .choosethree .sxx .skkl .skkl-1 {
  position: absolute;
  width: 546px;
  height: 98px;
  left: -150px;
  top: 35px;
  z-index: 1;
  background: url(../images/sx_xl_bj.gif) 0 0 no-repeat;
  line-height: 33px;
}

.content-fiction .fillter .choosethree .sxx .skkl .skkl-1 .choose_r {
  display: block;
  float: left;
  margin-left: 20px;
}

.content-fiction .fillter .choosethree .sxx .skkl .skkl-1 .choose_r a {
  font-size: 12px;
  padding: 3px 10px;
  font-family: arial;
  color: #333;
}

.content-fiction .fillter .choosethree .sxx:hover .skkl {
  display: block;
}

.content-fiction .fillter .choosethree .sxx:hover .sxxls1 {
  background: url(../images/zyzx_xl_up.png) 60px 7px no-repeat;
}

.content-fiction .fillter .choosethree .peiks {
  width: 100%;
}

.content-fiction .fillter .choosethree .peiks .peiks-1 {
  float: left;
  font-size: 12px;
  text-align: center;
}

.content-fiction .fillter .choosethree .peiks .peiks-1 .peiks-1-1 {
  display: block;
  float: left;
  width: 70px;
  height: 20px;
  line-height: 20px;
  padding: 2px 0 2px 5px;
  color: #969696;
  border: 1px solid #EBEBEB;
  background: url(../images/zyzx_xl.png) 60px 7px no-repeat;
  margin-top: 13px;
  margin-left: 15px;
}

.content-fiction .fillter .choosethree .peiks .zhifa {
  position: relative;
  display: none;
}

.content-fiction .fillter .choosethree .peiks .zhifa .zhifa1 {
  position: absolute;
  width: 546px;
  height: 98px;
  left: 176px;
  top: 38px;
  z-index: 1;
  background: url(../images/sx_xl_bj.gif) 0 0 no-repeat;
  line-height: 33px;
}

.content-fiction .fillter .choosethree .peiks .zhifa .zhifa1 .zhifa1-1 {
  display: block;
  float: left;
  margin-left: 20px;
}

.content-fiction .fillter .choosethree .peiks .zhifa .zhifa1 .zhifa1-1 a {
  font-size: 12px;
  padding: 3px 10px;
  font-family: arial;
  color: #333;
}

.content-fiction .fillter .choosethree .peiks:hover .zhifa {
  display: block;
}

.content-fiction .fillter .choosethree .peiks:hover .peiks-1-1 {
  background: url(../images/zyzx_xl_up.png) 60px 7px no-repeat;
}

.content-fiction .categorylistnav {
  height: 70px;
  line-height: 70px;
  padding: 0px 20px;
  font-size: 12px;
  color: #333;
  border: 1px solid #ebebeb;
  font-weight: normal;
  background: #fafafa;
  border-radius: 10px;
  margin-top: 14px;
}

.content-fiction .categorylistnav .categorylist li a {
  height: 40px;
  line-height: 40px;
  padding-left: 40px;
  color: #333;
  font-size: 14px;
  font-family: "PingFang SC Regular";
  margin-top: 15px;
}

.content-fiction .categorylistnav .categorylist li a b {
  display: block;
  width: 16px;
  height: 40px;
  background: url(../images/category_icon_jg_asc.png) 0 0 no-repeat;
  background-size: 14px auto;
  margin-left: 3px;
  margin-top: 27px;
  float: right;
}

.content-fiction .categorylistnav .categorylist li:hover a {
  color: red;
}

.content-fiction .categorylistnav .page {
  width: 220px;
}

.content-fiction .categorylistnav .page .pages_cate {
  float: left;
  height: 70px;
  line-height: 70px;
  text-align: right;
}

.content-fiction .categorylistnav .page .pages_cate .p_cate_l {
  float: left;
}

.content-fiction .categorylistnav .page .pages_cate .p_cate_l .page_count {
  display: inline-block;
  text-align: center;
  padding: 0 5px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  padding: 0 2px;
  color: #969696;
}

.content-fiction .categorylistnav .page .pages_cate .p_cate_l .page_count .page_now {
  color: #ff2837;
}

.content-fiction .categorylistnav .page .pages_cate .p_cate_l .page_count .page_c {
  display: inline-block;
  height: 70px;
  line-height: 70px;
  text-align: center;
  padding: 0 2px;
  color: #969696;
  text-align: center;
  padding: 0 5px;
}

.content-fiction .categorylistnav .page .pppq {
  float: left;
  margin-left: 10px;
  margin-top: 16px;
}

.content-fiction .categorylistnav .page .pppq .p_cate_r {
  float: left;
  width: 46px;
  height: 36px;
}

.content-fiction .categorylistnav .page .pppq .p_cate_r .prevh {
  display: block;
  width: 36px;
  height: 36px;
  background: url(../images/pages_icon_left_h.png) 0 5px no-repeat;
  background-size: 26px auto;
  margin-left: 5px;
}

.content-fiction .categorylistnav .page .pppq .p_cate_f {
  float: left;
  width: 46px;
  height: 36px;
}

.content-fiction .categorylistnav .page .pppq .p_cate_f .prevhq {
  display: block;
  width: 36px;
  height: 36px;
  background: url(../images/pages_icon_right.png) 0 5px no-repeat;
  background-size: 26px auto;
  margin-left: 5px;
}
